This app is designed specifically for <%= link_to "Scott C. Reynolds", "http://scottcreynolds.com/", target: "blank" %>.<br><br>
If you are not <%= link_to "Scott C. Reynolds", "http://scottcreynolds.com/", target: "blank" %>, feel free to enjoy anyway.<br>

Instructions:<br>
<ol>
<li>Enter an actor or actress into the first box.</li>
<li>Enter an actor or actress into the second box.</li>
<li>Click the button.</li>
<li>See all the movies they were in together.</li>
</ol>


<%= form_tag("/results", method: "get") do %>
 <%= label_tag(:actor_1, "Actor/Actress #1") %>
 <%= text_field_tag(:actor_1) %><br>
 <%= label_tag(:actor_2, "Actor/Actress #2") %>
 <%= text_field_tag(:actor_2) %><br><br>
 <em>Whatcha gonna do Jerry?<br><br>
 <%= submit_tag("Show me the movies") %>
<% end %>